body {
    background: linear-gradient(rgba(84, 42, 162, 0.99), rgba(164, 122, 242, 0.99)), url(ressources/background.jpg);
}
h1 {
    text-align: center;
    font-family: Roboto;
    font-size: 10vh
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
@font-face {
    font-family: Roboto;
    src: url(ressources/RobotoSlab-VariableFont_wght.ttf);
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main{
    display: flex;
    justify-content: space-between;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    padding: 10px;
    color: #F5F5F5;
    font-family:Arial, Helvetica, sans-serif
}
.main > img {
    height: 30vw;
    opacity: 0.7;
}
.ingredients {
    width: 300px;
}
.Directions {
 width: 300px;
}
.nutrition {
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    padding: 10px;
    width: 75%;
    color:#F5F5F5;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
}
.values {
    display: flex;
    justify-content: space-evenly;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}